/* Custom properties */
:root {
  --dark-purple: #5425af;
  --light-purple: #845eee;
  --bg-form: #212936;
  --border-input: #4d5562;
  --text: #e5e7eb;
  --bg: #121826;
  --focus: #a1a1a9;
  --purple-border-input: #845eee4d;
  --checkbox-input: #394150;
}

body {
  margin: 0;
  font-family: "Intel", sans-serif;
  background-color: var(--bg);
  color: var(--text);
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Form */
.form {
  position: relative;
  box-sizing: border-box;
  max-width: 32em;
  width: 100%;
  background-color: var(--bg-form);
  padding: 2.5em;
  border-radius: 0.75em;
}

.form::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  pointer-events: none;

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.25) 20%,
    transparent 45%
  );

  mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);

  padding: 1px;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.form::after {
  content: url("assets/blur-radial.png");
  position: absolute;
  top: -30%;
  left: -30%;
  z-index: -1;
}
/* Group form elements */
.form__group {
  border: none;
  padding: 0;
  margin: 0;
  display: none;
}

.form__group-title {
  font-size: 1.5em;
  margin-bottom: 2em;
  font-weight: 500;
}

.form__label {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  color: var(--focus);
  font-size: 1em;
}

.form__label:not(:last-child) {
  margin-bottom: 1em;
}

.form__label > input {
  padding: 1em 1.125em;
  font-size: 1em;
  background-color: var(--bg-form);
  border: 2px solid var(--border-input);
  border-radius: 0.75em;
  color: var(--text);
}

.form__label > input::placeholder {
  color: var(--focus);
}

.form__label > input:focus {
  outline: none;
  border: 2px solid var(--focus);
  box-shadow: 0 0 2px var(--focus);
}

/* STEP 2 */
.form__label-2 input[type="checkbox"] {
  display: none;
}

.form__label-2 {
  display: block;
  padding: 1.125em 1em;
  border-radius: 0.75em;
  background-color: var(--checkbox-input);
  color: var(--focus);
  border: 1px solid var(--border-input);
}

.form__label-2:not(:last-child) {
  margin-bottom: 1em;
}

/* SUMMARY STEP */
h2 {
  margin: 0;
}

.user-name {
  margin-bottom: 0.5em;
}

.user-email {
  margin-bottom: 1em;
}

.user-topics ul {
  margin: 0;
  padding: 1em 0 0 1.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.placeholder {
  color: var(--focus);
  letter-spacing: 0.03125em;
}

.value {
  font-weight: 500;
}

/* Button */
.btn-continue {
  display: block;
  margin: 2.25em auto 0;
  border: none;
  padding: 1em 3em;
  background: linear-gradient(180deg, #845eee 0%, #652cd1 100%);
  color: inherit;
  border-radius: 2em;
  font-size: 1em;
}

.show-step {
  display: block !important;
}
